{% extends 'students/base.html' %}
 {% load static %}
{% block content %}



            <!-- Button Start -->
           
                    <div class="container-fluid pt-4 px-4">
                <div class="row g-4">

                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="btn btn-primary"><a href="biochemistry.html" class="dropdown-item">Pharmacology & Biochemistry </a></h6> 
                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="btn btn-primary"><a href="Paediatrics.html" class="dropdown-item">Paediatrics</a></h6> 
                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="btn btn-primary"><a href="pathology.html" class="dropdown-item">Pathology</a></h6> 
                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="btn btn-primary"><a href="medicine2.html" class="dropdown-item">Medicine</a></h6> 
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="btn btn-primary"><a href="psychiatry.html" class="dropdown-item">Psychiatry and Social Behavioural Sciences</a></h6> 
                        </div>
                    </div>
                    
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="btn btn-primary"><a href="surgery.html" class="dropdown-item">Surgery & Anaesthetics</a></h6> 
                        </div>
                    </div>
                    


    {% endblock %}