{% extends 'students/base.html' %}
{% load static %}
{% block content %}


            <!-- Button Start -->
           
                    <div class="container-fluid pt-4 px-4">
                <div class="row g-4">

                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="btn btn-primary"><a href="ACCOUNTING.html" class="dropdown-item">ACCOUNTING </a></h6> 
                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="btn btn-primary"><a href="banking.html" class="dropdown-item">BANKING</a></h6> 
                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="btn btn-primary"><a href="business.html" class="dropdown-item">BUSINESS MANAGEMENT</a></h6> 
                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="btn btn-primary"><a href="finance.html" class="dropdown-item">FINANCE</a></h6> 
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="btn btn-primary"><a href="insurance.html" class="dropdown-item">INSURANCE</a></h6> 
                        </div>
                    </div>
                    
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="btn btn-primary"><a href="marketing.html" class="dropdown-item">MARKETING</a></h6> 
                        </div>
                    </div>
                    

        
{%endblock%}